.separator {
    -fx-background-color: yellow;
}

.button {
    -fx-background-color: transparent;
}

.bigBoardBtn {
    -fx-border-color: yellow;
    -fx-border-radius: 10px;
}

.bottomBoardBtn {
    -fx-border-color: yellow;
    -fx-border-width: 4;
}